/*
  Datepicker Stylesheet
*/

@font-face {
    font-family: "IconicSmall";
    src: url("open-iconic-small.woff") format("woff");
}

                                                            /* Datepicker panel */
.datepickerdropdown {
    position:absolute;
    padding:5px;
    text-align:center;
    border: none;
    border-radius:5px;
    box-shadow: 2px 2px 2px 1px black;
    background-color: #FCFCFC;
    z-index: 1000;
}
.datepickerdropdown table {
    border-collapse:collapse;
    margin:auto;
}
.datepickerdropdown tr,
.datepickerdropdown td {
    margin: 0;
    padding: 0;
}
.datepickerdropdown tr:first-child input[type=button] {
    background-color: silver;
    background-image: linear-gradient(#EEE, #CCC);
}
.datepickerdropdown tr:first-child input[type=button]:hover {
    background-color: #CCC;
    background-image: linear-gradient(#F0F0F0, #E0E0E0);
}
.datepickerdropdown input {
    margin:2px;
    padding:0;
    font-family:monospace;
    text-align:center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius:3px;
}
.datepickerdropdown table input[type=button] {
    width: 32px;
    height: 25px;
}
.datepickerdropdown input[type=button] {
}
.datepickerdropdown input[type=button]:hover {
    background-color: skyblue;
}
.datepickerdropdown input[type=button]:active {
    padding:2px 4px 2px 6px;
}      
.datepickerdropdown input.selected {
    background-color: #AFA;
}
.datepickerdropdown input[type=text] {
    color: #333;
    background: transparent;
}
.datepickerdropdown input.today {
    border:1px solid red;
}
.datepickerdropdown input.othermonth {
    color:#aaa;
    border:1px solid #bbb;
}
.monthDsp {
    width:105px;
    font-size:12px;
}
.daysRow {
    font-family:sans-serif;
    font-size:11px;
    color: gray;
}

span.datepickershow {                                   /* Calendar icon */
    display: inline-block;
    position: relative;
    margin: 3px;
    margin-left: 5px;
    padding: 4px;
    font-family: IconicSmall;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #666;
    border-radius: 4px;
    border: solid thin silver;
    background-color: rgba(240,240,240,0.7);
}
span.datepickershow::before {                           /* Character from icon font */
    content: "\00eb";
    speak: none;
}
span.datepickershow:hover {
    color: #888;
    background-color: rgba(250,250,250,0.9);
}
span.datepickershow:active {
    top: 1px;
    left: 1px;
    background-color: rgba(250,250,250,1);
}
